:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-imput-field: #F7F7F7;
    --rojo: #e5252e;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body{
    margin: 0;
    font-family: 'QuickSand', sans-serif;
}
.login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.confirm{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}
.form-container-signup{
    width: 300px;
    display: flex;
    flex-direction: column;
}
.form-signup{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo  {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}
.email{
    margin: 300px;
    width: 90px;
    height: 90px;
    background-color: var(--very-light-pink);
}
.title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;


}
.form {
    display: flex;
    flex-direction: column;

}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-imput-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;

}

.primary-button {
    background-color: var(--rojo);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;

}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
.sign-up-button {
    background-color: var(--white);
    border-radius: 8px;
    border-color: var(--rojo);
    color: var(--rojo);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.resend{
    color: var(--rojo);
    text-decoration: none;
}
.forgot{
    color: var(--rojo);
    text-align: center;
    text-decoration: none;
}
.letter-container{
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 32px;
    background-color:#F7F7F7;
    border-radius: 50%;
}
    
.letter{
    width: 70px;
}
.adcolor{
    color: var(--very-light-pink)
}
@media (max-width: 640px){
    .logo{
    display: block;
    }
    .form-container-signup{
        justify-content: space-between;
        height: 100vh;
    }
}

