<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Fonts --> 
<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link 
href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&di
splay=swap" rel="stylesheet"> 

<!-- Hoja de estilos --> 
<link rel="stylesheet" href="/styles.css"> 

<!-- Favicon --> 
<link rel="icon" type="image/svg" href="/logos/favicon.svg"> 
 
<title>Document</title> 
<body>
    <section class="main-container">
        <div class="cards-container">
            <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 10.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
                        <div class="product-card">
                <img src="https://images.pexels.com/photos/29182989/pexels-photo-29182989.jpeg" alt="">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src="/icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>  
        </div>
    </section>
</body>
</html>